.profilePreviewContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  max-height: min(780px, 100vh);
}

.profilePreviewContainer > * {
  border-radius: 8px 8px 0 0;
  width: min(640px, 96%);
}
