button {
  all: unset;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--space-5);
  width: 12rem;
  margin: var(--space-2) 0;
  padding: 0;

  font-family: var(--font-heading);
  font-size: var(--text-base);
  font-weight: 500;
  color: var(--foreground);
  border: 1px solid var(--neutral);
  border-radius: 26px;
  
  transition: border-color linear 150ms, color linear 150ms;
}

button:hover {
  cursor: pointer;
  border-color: var(--neutral-lighter);
  color: var(--neutral);
}

button:focus {
  outline-style: auto;
}

button:disabled {
  background-color: var(--neutral-lighter);
  color: var(--neutral);
  border-color: var(--neutral-lighter);
  pointer-events: none;
}

button:disabled:hover {
  background-color: var(--neutral-lighter);
  color: var(--neutral);
  border-color: var(--neutral-lighter);
  pointer-events: none;
}

.btn-1-normal {
  background-color: var(--highlight-1);
  color: var(--background);
  border: none;
  transition: background-color linear 120ms;
}

.btn-1-normal:hover {
  background-color: #AA6E16;
  color: var(--background);
}

.btn-1-outline {
  background-color: transparent;
  color: var(--highlight-1);
  border: 1px solid var(--highlight-1);
  transition: background-color linear 120ms;
}

.btn-1-outline:hover {
  background-color: #AA6E16;
  color: var(--background);
}

.btn-2-normal {
  background-color: var(--highlight-2-dark);
  color: var(--background);
  font-weight: 500;
  border: none;
  transition: all linear 120ms;
  box-shadow: 0 0 0 var(--neutral-lighter);
}

.btn-2-normal:hover {
  filter: brightness(1.20);
  color: var(--background);
  box-shadow: 0 0 18px var(--neutral-lighter);
}

.btn-long {
  min-width: 12rem;
}

@media (max-width: 920px) {
  button {
    font-size: var(--text-lg);
    border-radius: 8px;
    align-self: stretch;
    margin: var(--space-2) var(--space-3);
  }
}