:root {
  --space-0: 8px;
  --space-1: 12px;
  --space-2: 16px;
  --space-3: 20px;
  --space-4: 32px;
  --space-5: 52px;
  --space-6: 84px;
  --space-7: 136px;
  --space-8: 220px;
}


* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--primary);
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) min(1350px, 96%) minmax(0, 1fr);
}

.grid-container>* {
  grid-column: 2;
}

.full-width {
  grid-column: -1/1;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contain-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1250px) {
  .two-columns {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}