.container {
  flex: 1;
  align-items: center;
}

.firstColumn {
  max-width: 820px;
}

.superTitle {
  margin: 5vh 0 var(--space-2) 0;
  font-size: 3.2rem;
  font-family: var(--font-super);
}

.title {
  line-height: 0.8;
  font-size: 6.4rem;
  text-transform: uppercase;
  font-family: var(--font-title);
  letter-spacing: -5;
}

.illustration {
  min-width: min(96%, 440px);
  max-width: 500px;
}
/* 
.illustration > img { 
  min-width: min(340px, 80%);
} */

.ctaButtonsContainer {
  margin: var(--space-4) 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--space-6)
}