.columnsContainer {
  gap: 2rem;
  flex: 1;
}

.firstColumn {
  max-width: 620px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: center;
  gap: var(--space-4);
  align-self: end;
  margin-bottom: 15%;
}

.error {
  border: 2px solid #b40e0e;
  background-color: #fddddd;
}

.react_select {
  min-width: 256px;
}
