.columnsContainer {
  gap: 2rem;
  flex: 1;
}

.firstColumn {
  margin: max(1rem, 5%) 1rem max(1rem, 15%) 1rem;
  width: min(98%, 640px);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: center;
  gap: var(--space-4);
  align-self: end;
}

.error {
  border: 2px solid #b40e0e;
  background-color: #fddddd;
}

.react_select {
  min-width: 256px;
}
