.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 720px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 0;
}

.form label {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1;
}

.form input {
    border-style: solid;
    padding: 3px 6px;
    border-radius: 6px;
    font-size: 1.125rem;
}

.form button {
    align-self: flex-end;
}