.header {
  padding: var(--space-4) max(12px, 10%);
  display: flex;
  justify-content: stretch;
  align-items: center;
  border-bottom: 1px solid var(--background-highlight);
  margin-bottom: var(--space-4);
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  color: #d66b06;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
}

.logoWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 3rem;
  will-change: filter;
  transition: filter 300ms;
}

.logotype {
  font-family: Inter, 'DM Sans', Ubuntu, Verdana, sans-serif;
  color: var(--primary);
  font-size: var(--text-base);
  font-weight: 700;
  line-height: 1.2rem;
  white-space: pre-wrap;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  color: #2a2630;
  cursor: pointer;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
