.header {
  min-height: 86px;
  padding: 0 max(12px, 10%);
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  border-bottom: 1px solid var(--background-highlight);
  margin-bottom: var(--space-4);
  box-shadow: 0 0 10px rgb(210, 210, 188);
}

.header button {
  width: 6.5rem;
  height: 2rem;
}

.logoWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 3rem;
  will-change: filter;
  transition: filter 300ms;
  transform: translate(-5%, 10%);
}

.logotype {
  font-family: Inter, 'DM Sans', Ubuntu, Verdana, sans-serif;
  text-transform: lowercase;
  padding: var(--space-0);
  color: var(--gray);
  font-size: var(--text-base);
  font-weight: 600;
  line-height: 1.2rem;
  white-space: pre-wrap;
  transition: color ease 150ms;
}

.logotype:hover {
  color: var(--foreground);
}

.nav {
  font-weight: 700;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-6);
}

.nav a {
  color: var(--highlight-1-darker);
  position: relative;
}
.nav a:hover {
  color: var(--highlight-1-darker);
}

.underline::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2px;
  bottom: 2px;
  left: 0;
  width: 0;
  background-color: var(--highlight-1-darker);
  transition: width ease 120ms;
}

.underline:hover::before {
  width: 22px;
}

.activeLink:any-link {
  color: var(--highlight-2-dark);
}

.activeLink:any-link::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2px;
  bottom: 2px;
  left: 0;
  width: 22px;
  background-color: var(--highlight-2-dark);
  transition: width ease 120ms;
}

@media (max-width: 640px) {
  .nav {
    display: none;
  }
}